<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans|Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h1>"My gaDiary"</h1>
      </div>

      <div class="edit-entry">
        <fieldset class="overview">
          <legend>HOW ARE YOU FEELING ABOUT THE CONTENT?</legend>
          <div class="row login">
            <img src="/img/cry.png" alt="cry image">
            <img src="/img/sad.png" alt="sad image">
            <img src="/img/neutral.png" alt="neutral image">
            <img src="/img/smile.png" alt="smile image">
            <img src="/img/party.png" alt="party image">
          </div>


        </fieldset>
        <div class="row">
          <a class="btn-index btn-login" href="/sessions/new">Log In</a>
          <a class="btn-index btn-login" href="/users/new">Sign Up</a>
        </div>
      </div>
    </div>

    
  </body>

</html>
