<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Log In</a>
        <a href="#">Log Out</a>
      </nav>
      <h1>My GA Diary</h1>
      <% const highestWeek = Math.max.apply(Math, logs.map(function(obj) { return obj.week; }));
      <!-- console.log(highestWeek); -->
       for (var k = 1; k <= highestWeek; k++) {
        let weeklyLogs = logs.filter(obj => {
          return obj.week === k;
        });

        let weeklyHrs = 40;
        let avgFeeling = 0;
        weeklyLogs.forEach((obj) => {
          weeklyHrs += obj["homeworkHrs"];
          avgFeeling += (obj["feeling"]*obj["homeworkHrs"]);
        })

        avgFeeling = Math.ceil(avgFeeling/(weeklyHrs-40));


        %>
      <fieldset>

        <legend>Week <%=k%></legend>
        <div class="row">
        <% for (var i = 0; i < weeklyLogs.length; i++) { %>
          <div class="card">
            <%=weeklyLogs[i].title%>

            <% switch (weeklyLogs[i].feeling){
              case 1: %>
                <img src="/img/cry.png" alt="cry image"><%;
                 break;
              case 2: %>
                <img src="/img/sad.png" alt="sad image"><%;
                break;
              case 3: %>
                <img src="/img/neutral.png" alt="neutral image"><%;
                break;
              case 4: %>
                <img src="/img/smile.png" alt="smile image"><%;
                break;
              case 5: %>
                <img src="/img/party.png" alt="party image"><%;
            } %>

            <% switch (weeklyLogs[i].weekday){
              case 1: %>
                Mon<%;
                 break;
              case 2: %>
                Tue<%;
                break;
              case 3: %>
                Wed<%;
                break;
              case 4: %>
                Thu<%;
                break;
              case 5: %>
                Fri<%;
                break;
              case 6: %>
                Sat<%;
                break;
              case 7: %>
                Sun<%;
            } %>

          </div>

        <% } %>
        </div>

        <div class="row weeklystat">

          <p>Total working hours: <%=weeklyHrs%> hrs week</p>
          <p>Weighted average feeling: <%=avgFeeling%> =></p>
        </div>

      </fieldset>
  <% } %>







    </div>
  </body>
</html>
