.container{
  text-align: center;
}

.row{
  justify-content: space-around;
  align-items: center;
}

.card{
  text-align: center;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
  background-color: lightblue;
  min-width: 100px;
}

img{
  width: 70px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}
legend {
  padding: 0px 10px;
  font-family: 'Oswald';
  font-weight: 500;
  color: #735066;
  width: auto;
}
