.container{
  text-align: center;
}

.row{
  justify-content: space-around;
  align-items: center;
}

.showcard{
  width: 100px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
  background-color: lightblue;
}

.card-descriptions{
  margin-top: 16px;
}

.indexcard{
  text-align: center;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
  background-color: lightblue;
  min-width: 100px;
}



.weeklystat{
  padding-top: 20px;
}

img{
  width: 70px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px 20px 0 20px;
  margin: 20px 0;
}

legend {
  padding: 0px 10px;
  font-family: 'Oswald';
  font-weight: 500;
  color: #735066;
  width: auto;
}

.form-group{
  text-align: left;
}

a:hover{
  text-decoration: none;
}
